APP_NAME=RAGify
APP_VERSION=1.0.0
API_PREFIX=/api/v1

GROQ_API_KEY=your_api_key_here
LLM_MODEL=llama3-8b-8192

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=RAGify

UPLOAD_DIR=app/temp/uploads
PROCESSED_DIR=app/temp/processed

CHUNK_SIZE=1000
CHUNK_OVERLAP=200
TOP_K=4